<article class="post">
  <div class="title">
    <a href="/post/{{id}}" id="post-title">{{title}}</a>
    <span>Posted by {{user.username}} on {{format_date created_at}}</span>
  </div>
  <div class="blog-content">
    {{content}}
  </div>
</article>